<h2 style="text-align: center">Mentees</h2>
<form
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScazsjEundHNk01drBcsKaDuEmNh8rH7aF_4BDwQRx1Dg9OLA/formResponse"
  method="post"
  target="hidden_iframe"
  onsubmit="submitted=true"
>
  <label>Name*</label>
  <input
    type="text"
    placeholder="Name*"
    class="form-input"
    name="entry.462263777"
    required
  />
  <label>Roll No*</label>
  <input
    type="number"
    placeholder="Roll No*"
    class="form-input"
    name="entry.1006032200"
    required
  />
  <label>Branch and Program at IITK*</label>
  <input
    type="text"
    placeholder="Branch and Program at IITK*"
    class="form-input"
    name="entry.328646346"
    required
  />
  <label>IITK Email ID*</label>
  <input
    type="email"
    placeholder="IITK Email ID*"
    class="form-input"
    name="entry.1108813449"
    required
  />
  <label>Gmail ID*</label>
  <input
    type="email"
    placeholder="Gmail ID*"
    class="form-input"
    name="entry.1155666598"
    required
  />
  <label>First Preference for profile*</label>
  <input
    type="text"
    placeholder="1st Preference for profile*"
    class="form-input"
    name="entry.418627533"
    required
  />
  <label>Second Preference for profile*</label>
  <input
    type="text"
    placeholder="2nd Preference for profile*"
    class="form-input"
    name="entry.527066745"
    required
  />
  <label>Third Preference for profile*</label>
  <input
    type="text"
    placeholder="3rd Preference for profile*"
    class="form-input"
    name="entry.404690661"
    required
  />
  <button type="submit">Send</button>
</form>
<style>
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  form {
    max-width: 420px;
    margin: 50px auto;
  }

  .form-input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #cc6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }

  .form-input:focus {
    border: 2px solid #cc4949;
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }

  [type='submit'] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #cc6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type='submit']:hover {
    background: #cc4949;
  }
</style>
