<div class='tabs' width="100%">
<button  class='tab active' onClick="openTab(event, 'mentees')">Mentees</button>
<button  class='tab' onClick="openTab(event, 'mentors')">Mentors</button>
</div>
<div class='tabs_contents items-center' id="mentees" style="display:block">
<iframe class='embed-form' src="https://docs.google.com/forms/d/e/1FAIpQLScazsjEundHNk01drBcsKaDuEmNh8rH7aF_4BDwQRx1Dg9OLA/viewform?embedded=true"  frameborder="0" >Loading…</iframe>
<!--form
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScazsjEundHNk01drBcsKaDuEmNh8rH7aF_4BDwQRx1Dg9OLA/formResponse"
  method="post"
  target="hidden_iframe"
  onsubmit="submitted=true"
>
  <label>Name*</label>
  <input
    type="text"
    placeholder="Name*"
    class="form-input"
    name="entry.462263777"
    required
  />
  <label>Roll No*</label>
  <input
    type="number"
    placeholder="Roll No*"
    class="form-input"
    name="entry.1006032200"
    required
  />
  <label>Branch and Program at IITK*</label>
  <input
    type="text"
    placeholder="Branch and Program at IITK*"
    class="form-input"
    name="entry.328646346"
    required
  />
  <label>IITK Email ID*</label>
  <input
    type="email"
    placeholder="IITK Email ID*"
    class="form-input"
    name="entry.1108813449"
    required
  />
  <label>Gmail ID*</label>
  <input
    type="email"
    placeholder="Gmail ID*"
    class="form-input"
    name="entry.1155666598"
    required
  />
  <label>First Preference for profile*</label>
  <input
    type="text"
    placeholder="1st Preference for profile*"
    class="form-input"
    name="entry.418627533"
    required
  />
  <label>Second Preference for profile*</label>
  <input
    type="text"
    placeholder="2nd Preference for profile*"
    class="form-input"
    name="entry.527066745"
    required
  />
  <label>Third Preference for profile*</label>
  <input
    type="text"
    placeholder="3rd Preference for profile*"
    class="form-input"
    name="entry.404690661"
    required
  />
  <button type="submit">Send</button>
</form-->
</div>
<div class='tabs_contents items-center' id="mentors">
  <iframe class='embed-form' src="https://docs.google.com/forms/d/e/1FAIpQLSdLdoFs_zDBejGvuLGVo30-U8kewmAgLxGoSbZQSqd5gLSLrg/viewform?embedded=true"  frameborder="0" >Loading…</iframe>
  <!--form
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdLdoFs_zDBejGvuLGVo30-U8kewmAgLxGoSbZQSqd5gLSLrg/formResponse"
  method="post"
  target="hidden_iframe"
  onsubmit="submitted=true"
>
  <label>Name*</label>
  <input
    type="text"
    placeholder="Name*"
    class="form-input"
    name="entry.2066769230"
    required
  />
  <label>Year of Graduation*</label>
  <input
    type="number"
    placeholder="Year of Graduation*"
    class="form-input"
    name="entry.2084609305"
    required
  />
  <label>Dept. and Program at IITK*</label>
  <input
    type="text"
    placeholder="Dept. and Program at IITK*"
    class="form-input"
    name="entry.621742885"
    required
  />
  <label>Contact number(won't be shared with the students)*</label>
  <input
    type="number"
    placeholder="Contact number(won't be shared with the students)*"
    class="form-input"
    name="entry.760205509"
    required
  />
  <label>Email ID*</label>
  <input
    type="email"
    placeholder="Email ID*"
    class="form-input"
    name="entry.70440641"
    required
  />
  <label>Preferable way of communication with the students.*</label>
  <input
    type="text"
    placeholder="Preferable way of communication with the students.*"
    class="form-input"
    name="entry.1435504200"
    required
  />
  <label>Please mention the details of the mode of communication. (Eg., google groups then give your gmail ID)*</label>
  <input
    type="text"
    placeholder="Please mention the details of the mode of communication. (Eg., google groups then give your gmail ID)*"
    class="form-input"
    name="entry.805866478"
    required
  />
  <label>How much time will you be able to devote per month for the students?*</label>
  <input type="radio" name="entry.885879032" id="Less than 1 hour" required/>
  <label for="Less than 1 hour">Less than 1 hour</label><br/>
  <input type="radio" name="entry.885879032" id="1-2 hours" required/>
  <label for="1-2 hours">1-2 hours</label><br/>
  <input type="radio" name="entry.885879032" id="3-4 hours" required/>
  <label for="3-4 hours">3-4 hours</label><br/>
  <input type="radio" name="entry.885879032" id="More than 5 hours" required/>
  <label for="More than 5 hours">More than 5 hours</label><br/>
  </br>
  <label>What is your current field of work?*</label></br>
  <input type="radio" name="entry.1012818307" id="software" required/> 
  <label for="software">Software</label>
  </br>
  <input type="radio" name="entry.1012818307" id="Technomanagerial" required/> 
  <label for="Technomanagerial">Technomanagerial</label></br>
  <input type="radio" name="entry.1012818307" id="Banking" required/> 
  <label for="Banking">Banking</label></br>
  <input type="radio" name="entry.1012818307" id="Finance" required/> 
  <label for="Finance">Finance</label></br>
  <input type="radio" name="entry.1012818307" id="Entrepreneurship" required/> 
  <label for="Entrepreneurship">Entrepreneurship</label></br>
  <input type="radio" name="entry.1012818307" id="Analytics" required/> 
  <label for="Analytics">Analytics</label></br>
  <input type="radio" name="entry.1012818307" id="Data Science" required/> 
  <label for="Data Science">Data Science</label></br>
  <input type="radio" name="entry.1012818307" id="Consulting" required/> 
  <label for="Consulting">Consulting</label></br>
  <input type="radio" name="entry.1012818307" id="Core Research" required/> 
  <label for="Core Research">Core Research</label></br>
  <input type="radio" name="entry.1012818307" id="Research and Development" required/> 
  <label for="Research and Development">Research and Development</label></br>
  <input type="radio" name="entry.1012818307" id="Core- Industry" required/> 
  <label for="Core- Industry">Core- Industry</label></br>
  <input type="radio" name="entry.1012818307" id="Education( Teaching)" required/> 
  <label for="Education( Teaching)">Education( Teaching)</label></br>
  <input type="radio" name="entry.1012818307" id="Product Management" required/> 
  <label for="Product Management">Product Management</label></br>
  <input type="radio" name="entry.1012818307" id="Civil Services" required/> 
  <label for="Civil Services">Civil Services</label></br>
  <input type="radio" name="entry.1012818307" id="Higher Studies" required/> 
  <label for="Higher Studies">Higher Studies</label></br>
  <input type="radio" name="entry.1012818307" id="Other" required/> 
  <label for="Other">Other</label></br>
  <label>If other, please specify</label>
  <input
    type="text"
    placeholder="If other, please specify"
    class="form-input"
    name="entry.387100999"
  />
  <label>In which field(s), are you willing to help the mentees? *</label>
  <input
    type="text"
    placeholder="In which field(s), are you willing to help the mentees? *"
    class="form-input"
    name="entry.1826023625"
    required
  />
  <label>In what ways are you willing to help your mentees?</label>
  <input
    type="text"
    placeholder="In what ways are you willing to help your mentees?"
    class="form-input"
    name="entry.615596698"
  />
  <label>Since this program requires constant interaction every month, will you be able to devote time from June-December? *</label>
  <input type="radio" name="entry.259273652" id="Yes" required/>
  <label for="Yes">Yes</label>
  </br>
  <input type="radio" name="entry.259273652" id="No" required/>
  <label for="No">No</label>
  </br>
  <input type="radio" name="entry.259273652" id="Maybe" required/>
  <label for="Maybe">Maybe</label>
  </br> 
  <label>Current organisation of work *</label>
  <input
    type="text"
    placeholder="Current organisation of work *"
    class="form-input"
    name="entry.719519614"
    required
  />
  <label>Any question you to ask us or any suggestion to offer?</label>
  <input
    type="text"
    placeholder="Any question you to ask us or any suggestion to offer?"
    class="form-input"
    name="entry.440192743"
  />
  <button type="submit">Send</button>
</form-->
</div>


{{ $mentorship := .Site.Data.mentorship }}

{{$logo1 := $mentorship.logo1 }}
{{$logo2 := $mentorship.logo2 }}
<div class="align-items-center" style="width:280px; margin:0px auto">
              <img src="{{.Site.BaseURL}}/images/{{$logo1}}" class="rounded-circle " width="120" height="120"
               style="margin: 20px auto ;
                box-shadow: 0px 6px 5px #ccc;
                -moz-box-shadow: 0px 6px 5px #ccc;
                -webkit-box-shadow: 0px 6px 5px #ccc;"/>
              <img src="{{.Site.BaseURL}}/images/{{$logo2}}" class="rounded-circle" width="120" height="120"
              style="-moz-box-shadow: 0px 6px 5px #ccc;
                      box-shadow: 0px 6px 5px #ccc;
                      -webkit-box-shadow: 0px 6px 5px #ccc;
                      margin: 15px auto 10px 10px;
                      "/>
                      </div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  .tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display:flex;
  flex-direction: row;
}
.embed-form{
  margin: 20px auto;
  width: 100%;
  height: 100vh;

}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  width:50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabs_contents {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
  form {
    max-width: 420px;
    margin: 50px auto;
  }

  .form-input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #cc6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }

  .form-input:focus {
    border: 2px solid #cc4949;
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }

  [type='submit'] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #cc6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type='submit']:hover {
    background: #cc4949;
  }
</style>
<script>
  function openTab(evt, id) {
    var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabs_contents");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(id).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
